.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	position: relative;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.wpcf7-list-item {
	display: block;
	label {
		font-weight: 300;
	}
}
.wpcf7-checkbox {
	.wpcf7-list-item {
		display: inline-block;
	}	
}
.wpcf7cf_multistep {
	.wpcf7cf_steps-dots {
		.dot {
			display: none;
			&.active {
				display: block;
				border-bottom-color: $pale-spring-bud!important;
				.step-index {
					background-color: $pale-spring-bud !important;
					color: black!important;
				}
			}
		}
	}
}
.wpcf7cf_step_inner {
	p {
		label {
			margin-bottom: 0;
		}
	}
}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popuptext {
	background-color: $pale-spring-bud;
	color: #000;
	text-align: center;
	border-radius: 20px;
	padding: 20px 0;
	position: fixed;
	z-index: 1000;
	bottom: 10px;
	right: 10%;
	label {
		font-weight: 300;
	}
	#close {
		display: none;
		position: absolute;
		padding: 5px;
		right: 10px;
		top: 0;
		cursor: pointer;
		font-size: 1.5rem;
	}
	#contact {
		cursor: pointer;
		padding: 0.5rem;
		font-weight: 600;
	}
	textarea {
		width: 95%;
		max-height: 150px;
	}
  }
  label {
	  font-weight: 600;
	  margin-bottom: 1rem;
	  display: block;
  }
  /* Popup arrow */
  .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: $pale-spring-bud transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }
 
.wpcf7 .ajax-loader {
	display: none;
}
.wpcf7cf_multistep .wpcf7cf_steps-dots {
	margin-bottom: 39px !important;
}
#prijsindicatie {
	text-align: center;
    background-color: white;
    padding: 0.5rem;
	display: none;
	span {
		font-weight: bold;
	}
}

@media screen and (max-width: 37.5em) {
	.wpcf7cf_prev-container,
	.wpcf7cf_next-container {
		width: 100%;
		button {
			margin: 0.5rem 0;
			width: 100%;
			padding: 1rem;
		}
	}
	.popuptext {
		max-width: 100%;
		max-height: 100%;
		right: 0;
	}
}
@media screen and (min-width: 37.5em) {

	.wpcf7cf_multistep {
		.wpcf7cf_steps-dots {
			.dot {
				min-width: 170px!important;
				display: block;
				&.active {
					display: block;
				}
			}
		}
	}
}