/* The Mobile Menu */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: $color__background-screen; /* Fallback color */
    /* Close button */
    .close {
        color: $color__text-main;
        position: absolute;
        right: 26px;
        top: 70px;
        font-size: 50px;
        font-weight: 400;
        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
    /* Modal Content/Box */
    .modal-content {
        margin: auto auto; /* 15% from the top and centered */
        padding: 20px;
        width: 100%; /* Could be more or less, depending on screen size */
        .home-mobile {
            display: flex;
            justify-content: center;
        }
        ul {
            text-align: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                padding: 0.25rem 0;
                a {
                    color: $color__text-main;
                    font-size: 1.25rem;
                    font-weight: 600;
                    text-decoration: none;
                }
                &.current-menu-item a{
                    color: $color__link-visited;
                }

            }
        }
    }     
}
    


  
  

#openMobileMenu {

}