$color__background-body: #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #313131; //royalblue
$color__link-visited: #000000;
$color__link-hover: #191970; //midnightblue
$color__text-main: #313131;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


/* SCSS HEX */
$pale-spring-bud: #ccd5aeff;
$light-goldenrod-yellow: #e9edc9ff;
$cornsilk: #fefae0ff;
$papaya-whip: #faedcdff;
$fawn: #d4a373ff;